# data processing
pandas
numpy
duckdb
pyarrow
nltk

# viz
#matplotlib
#plotly
altair
vegafusion
vl-convert-python

# ML
#scikit-learn
rank-bm25
sentence-transformers
faiss-cpu

# LLM / RAG
#langchain
#langchain-community

# utils
python-dotenv
requests
jupyter
ipykernel

# apps
#shiny
#shinywidgets
streamlit
torchvision

# testing
# pytest>=8.0.0
# pytest-playwright>=0.5.0